<form id="logout" method="POST">
    <input id="logout_button" class="button" type="submit" value="Log out!">
</form>
<p hidden id="logged_in_user">{{logged_in_user}}</p>
<p hidden id="logged_in_user_id">{{logged_in_user_id}}</p>

<div id="main_box">

    <div id="left_col">

        <div id="submit">
            <div id="submit_header">Watcha thinking about? <span id="char_counter">0/140</span></div>
            <form id="twote_submit_form" method="POST">
                <textarea id="twote_submit_text" maxlength="140"></textarea>
                <input id="twote_submit_button" class="button" type="submit" value="Twote!">
                <span id="error_message"></span>
            </form>
        </div>

        <div id="feed">
            
            <h2 id="twote_header">Twotes</h2>
            {{#each twotes}}
                <div id="{{this._id}}" class="twote" creator="{{this.creator}}" creator_id="{{this.creator_id}}">
                    <h3 class="creator"> {{this.creator}} 
                    <button id="delete_{{this._id}}" class="delete_button" tweet_id="{{this._id}}" creator_id="{{this.creator_id}}">x</button>
                    </h3>
                    <p> {{this.text}} </p>
                </div>
            {{/each}}

        </div>

    </div>

    <div id="sidebar">
        {{#each users}}
            <div class="noselect username" user_id="{{this.user_id}}" class="user">{{this.name}}</div>
        {{/each}}
    </div>

</div>

<script type="text/javascript" src="javascripts/home.js"></script>
